export ODIN_VER=2025-01
export EM_VER=4.0.1

export ODIN_PATH=$HOME/dev/odin/$ODIN_VER
export EMSDK_QUIET=1

PATH_add $ODIN_PATH 
PATH_add scripts

source $HOME/dev/emscripten/$EM_VER/emsdk_env.sh
path_add LD_LIBRARY_PATH $ODIN_PATH/vendor/raylib/linux
